body {
 font-family:monospace;
 background-color: rgb(20, 20, 29);
 overflow-x: hidden;
 background-image: url(https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?t=st=1650000606~exp=1650001206~hmac=24ab101945a0f23ccb8b75eb76659f744edd132d9a7c2aa9a0f6e2826d328795&w=1480);
}
.navbar__container {
 display: flex;
 justify-content:space-around;
 align-items: center;
}
.navbar__button {
 border-radius: 10px;
 margin: auto;
 padding: 30px;
 padding-top: 0px;
 padding-bottom: 0px;
 display: inline-block;
}

.navbar__text {
 text-decoration: none;
 font-size: 16px;
 color: white;
}

.navbar__text:hover {
 color:yellow;
 border-bottom: 3px solid transparent;
 border-color: #00B3FF;
 transition: 200ms;
}
.burger div {
 width: 25px;
 height: 3px;
 background-color: white;
 margin: 5px;
}
#about {
 border: none;
 background-color: tomato;
 padding: 10px;
 border-radius: 10px;
}

#about:hover {
 background-color: red;
 transition: 300ms;
}
.burger {
 display: block;
 cursor: pointer;
 z-index: 999;
}

.nav-links {
 display: block;
 justify-content:space-evenly;
 position:fixed;
 margin: auto;
 border-radius: 20px;
 z-index: 999;
}
.header {
 font-size: 30px;
 color:white;
 display: block;
 margin:auto;
 margin-left: 10%;
 margin-right: 90%;
}
@media screen and (max-width:1024px) {
 body {
  overflow-x: hidden;
 }
 .nav-links {
  position:fixed;
  height: 92vh;
  top:0vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
 }
 .navbar__container {
  display: flex;
  justify-content: space-around;
  align-items:  center;
  min-height: 8vh;
 }
 .nav-links li {
  /* opacity: 0; */
 }

 .navbar__button {
  border-radius: 10px;
  margin: auto;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  display:flex;
  flex-direction: column;
 }

 .navbar__text {
  color: black;
 }

 .burger {
  position: fixed;
 top: 20px;
 right: 20px;
 }

 .header {
  display: none;
 }
}

.nav-active {
 transform: translateX(0%);
}

.bgc {
 transition: 2000ms;
 background: rgb(44, 92, 248);
 padding: 10px;
 color:black;
}

.join__us__img {
 width: 200px;
 height: auto;
}


.make__space {
  display: flex;
  margin: auto;
  padding: 30px;
}

#primary__message {
 font-size: 40px;
 margin-left: auto;
 margin-right: auto;
 padding: auto;
 text-align: center;
 margin-top: 200px;
 margin-bottom: 200px;
}

#titles {
 font-size: 35px;
 margin-left: auto;
 margin-right: auto;
 padding: auto;
 text-align: center;
 color: white;
 margin-bottom: 50px;
}

.image__block{
 margin-top: 80px;
 margin-left: auto;
 margin-right: auto;
 height: 100%;
 width: 90%;
 padding: auto;
 display: block;
 transition: 0.5s;
}



.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
}

div.gallery:hover {
  border: 2px solid rgb(240, 205, 7);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

.gallery__container {
 display: flex;
 justify-content: space-around;
 margin-bottom: 200px;
}

.description__container {
 margin-top: 50px;
 display: flex;
 margin-bottom: 200px;
 justify-content: space-around;
 max-width: 100%;
}
div {
 margin-top: 50px;
}
.description {
color: white;
font-size: 15px;
margin-left: 20px;
margin-right: 20px;
}

.description__image {
 max-width: 200px;
 height: auto;
 margin-top: auto;
 margin-bottom: auto;
}




* {
  box-sizing: border-box;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  margin-bottom: 200px;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 30rem;
  height: 30rem;
  margin: 4rem;
}

.container .box:hover .imgBox {
  transform: translate(-3.5rem, -3.5rem);
}

.container .box:hover .content {
  transform: translate(3.5rem, 3.5rem);
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  resize: both;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.content h2 {
  display: block;
  font-size: 2rem;
  color: #111;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1px;
}

.content span {
  color: #555;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .container .box:hover .content {
    transform: translate(0, 3.5rem);
  }
  .container .box:hover .imgBox {
    transform: translate(0, -3.5rem);
  }
}
/*# sourceMappingURL=main.css.map */

.about__post{ 
 font-size: 12px;;
}



